body {
  border: 4px solid black;
}
h2 {
  background-color: #f7f3f3fa;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}
h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
}
.price-tag {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: bold;
}
.shipping {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #9b9a9afa;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: brown;
}

a:hover {
  color: black;
}

button{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: black;
    color: white;
}
